body * {
  @apply duration-150;
}
.App {
  @apply text-black bg-white
    min-h-screen;
}
.App.dark {
  @apply bg-[#333];
}
.page-title {
  @apply text-center
    pt-3
    sm:pt-5
    md:pt-7 

    text-lg
    font-medium
    sm:text-xl
    md:text-2xl
    xl:text-3xl;
}
