.theme-selector {
  @apply max-w-5xl
    mx-auto
    mt-3
    pr-2
    md:px-7;
}
.theme-buttons {
  @apply container flex 
    items-center
    justify-center md:justify-end mx-auto;
}
.theme-buttons div {
  @apply inline-block
    w-5 h-5 
    cursor-pointer
    ml-2 rounded-full
    duration-150
    hover:scale-110
    active:scale-125;
}

.mode-toggle {
  @apply mr-auto;
}
